# MAC OS
# System files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*



# LINUX
# Temporary files
*~
*.swp



# WINDOWS
# image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Anacoda
miniconda.sh



# Unit test intermediate output folder
unit_tests/**/output/**
stable_projects/**/unit_tests/**/output
