# First ignore everything
*

# Except these files in the stable_projects
!README.md
!.gitignore

# Then allow tracking sub-folders
!*/

# For each of the sub-folder under stable_projects
# Track all files but not sub-folders in brain_parcellation folder
!/brain_parcellation/*
# Track everything (i.e. files, sub-folders) under Schaefer2018_LocalGlobal
!/brain_parcellation/Schaefer2018_LocalGlobal/**
# Track everything (i.e. files, sub-folders) under Yeo2011_fcMRI_clustering
!/brain_parcellation/Yeo2011_fcMRI_clustering/**
!/brain_parcellation/Kong2019_MSHBM/**
!/brain_parcellation/Xue2021_IndCerebellum/**
!/brain_parcellation/Kong2022_ArealMSHBM/**

#Similarly
!/disorder_subtypes/*
!/disorder_subtypes/Zhang2016_ADFactors/**
!/disorder_subtypes/Sun2019_ADJointFactors/**
!/disorder_subtypes/Kebets2019_TransdiagnosticComponents/**
!/disorder_subtypes/Tang2020_ASDFactors/**

!/meta-analysis/*
!/meta-analysis/Ngo2017_AuthorTopic/**

!/fMRI_dynamics/*
!/fMRI_dynamics/Liegeois2017_Surrogates/**
!/fMRI_dynamics/Wang2018_MFMem/**
!/fMRI_dynamics/Kong2021_pMFM/**

!/preprocessing/*
!/preprocessing/CBIG_fMRI_Preproc2016/**
!/preprocessing/Li2019_GSR/**
!/preprocessing/Orban2020_tod/**

!/registration/*
!/registration/Wu2017_RegistrationFusion/**

!/meta-analysis/*
!/meta-analysis/Ngo2019_AuthorTopic/**
!/meta-analysis/Yeo2015_AuthorTopicEM/**

!/predict_phenotypes/*
!/predict_phenotypes/He2019_KRDNN/**
!/predict_phenotypes/Nguyen2020_RNNAD/**
!/predict_phenotypes/ChenTam2022_TRBPC/**

