###CBIG fMRI preprocessing configuration file
###The order of preprocess steps is listed below
CBIG_preproc_deoblique
CBIG_preproc_skip -skip 8
CBIG_preproc_fslslicetimer -slice_timing ${CBIG_TESTDATA_DIR}/stable_projects/preprocessing/CBIG_fMRI_Preproc2016/single_subject/scripts/slice_timing/sub-NDARBF851NH6_task-rest_st.txt
CBIG_preproc_fslmcflirt_outliers -FD_th 0.3 -DV_th 60 -discard-run 50 -rm-seg 5 -spline_final -low_f 0.31 -high_f 0.43
