CBIG_preproc_skip -skip 8
CBIG_preproc_fslslicetimer -slice_timing ${CBIG_TESTDATA_DIR}/stable_projects/preprocessing/CBIG_fMRI_Preproc2016/single_subject/scripts/slice_timing/sub-NDARAA075AMK_task-rest_st.txt
CBIG_preproc_fslmcflirt_outliers -FD_th 0.3 -DV_th 60 -discard-run 50 -rm-seg 5
CBIG_preproc_spatial_distortion_correction -fpm mag+phasediff -m ${CBIG_TESTDATA_DIR}/stable_projects/preprocessing/CBIG_fMRI_Preproc2016/single_subject/data/input_truncate/sub-NDARAA075AMK_magnitude.nii.gz -p ${CBIG_TESTDATA_DIR}/stable_projects/preprocessing/CBIG_fMRI_Preproc2016/single_subject/data/input_truncate/sub-NDARAA075AMK_phasediff.nii.gz -delta 4.76000 -ees .550001000 -te 40.00 
