###CBIG fMRI preprocessing configuration file
###The order of preprocess steps is listed below
###Change: swap bandpass and regress order, regress_new (use BOLD_stem as MASK_stem), per_run, detrend (not trendout), censor
CBIG_preproc_skip -skip 4
CBIG_preproc_fslslicetimer -slice_order ${CBIG_CODE_DIR}/stable_projects/preprocessing/CBIG_fMRI_Preproc2016/example_slice_order.txt
CBIG_preproc_fslmcflirt_outliers -FD_th 0.2 -DV_th 50 -discard-run 50 -rm-seg 5 -spline_final
CBIG_preproc_bbregister
CBIG_preproc_regress -aCompCor -aCompCor_nPCs 5 -wm -wm_max_erode 3 -csf -csf_max_erode 1 -motion12_itamar -per_run
